<div class="fields">

<div class="row">
    <div class="large-4 columns">
        <%= l.input :name %>
    </div>
    <div class="large-1 columns">
        <%= l.link_to_remove("x") %>
    </div>

    <%= l.hidden_field(:item_id, :value => @item.id) %>

</div>